.home .btn-floating-fixed {
    position: fixed;
    bottom: 45px;
    right: 24px;
}
.home .card {
    width: 200px;
    float: left;
    margin: 10px;
    position: relative;
}
.home .card img {
    opacity: 0.5;
}
.home .card-image {
    background-color: #7F7F7F;
}
.home .card-content p {
    word-wrap: break-word;
}
.home .close-btn {
    position: absolute;
    top: -5px;
    right: -5px;
    width: 20px;
    height: 20px;
}
.home .close-btn i {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 20px;
    line-height: 20px;
}
